<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>更换皮肤</title>

    <link rel="stylesheet" href="../../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../static/css/skin.css">
</head>

<body>
    <iframe src='./index.html'></iframe>
    <!-- 换肤弹窗开始 -->
    <div class="skinbox">

        <div class="skincon">
            <!-- <h2>选择界面皮肤</h2> -->
            <!-- 布局 -->
            <div class="layout">
                <h3 class="littletitle">颜色选择</h3>
                <ul>
                    <li>
                        <div class="skin color1"></div>
                        <div class="scrip">#60bafd</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>

                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin color2"></div>
                        <div class="scrip">#1e66b1</div>
                        <div class="skin choose on">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin color3"></div>
                        <div class="scrip">#49c5b6</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li>
                        <div class="skin color4"></div>
                        <div class="scrip">#50d38a</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin color5"></div>
                        <div class="scrip">#ffc323</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin color6"></div>
                        <div class="scrip">#ff758e</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                </ul>
                <div style="clear: both;"></div>
            </div>
            <!-- 颜色 -->
            <div class="layout">
                <h3 class="littletitle">布局选择</h3>
                <ul class="">

                    <li>
                        <div class="skin"><img src="../../static/images/上左右.png" alt=""></div>
                        <div class="scrip">上左右</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin"><img src="../../static/images/上中下.png" alt=""></div>
                        <div class="scrip">上中下</div>
                        <div class="skin choose on">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>

                </ul>
                <div style="clear: both;"></div>

            </div>

            <!-- 字体大小 -->
            <div class="layout">
                <h3 class="littletitle">字体选择</h3>
                <ul>
                    <li>
                        <div class="skin"><img src="../../static/images/小.png" alt=""></div>
                        <div class="scrip">小号</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin"><img src="../../static/images/中.png" alt=""></div>
                        <div class="scrip">中号</div>
                        <div class="skin choose on">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                    <li style="margin-left: 15px;">
                        <div class="skin"><img src="../../static/images/大.png" alt=""></div>
                        <div class="scrip">大号</div>
                        <div class="skin choose">
                            <div class="zhezhao"></div>
                            <i class="iconfont icon-duigoux"></i>
                        </div>
                    </li>
                </ul>

            </div>
            <div style="clear: both;"></div>

            <div class="btn"> <input type="button" value="更换皮肤"></div>
        </div>



        <div class="ctrlmask">
            <div class="skinicon"><i class="iconfont icon-icon_shezhi"></i></div>
        </div>
        <div class="mask"></div>
    </div>
    <!-- 换肤弹窗结束 -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/skin.js"></script>

</body>

</html>